:root {
  --grey-light: rgb(231, 231, 231);
  --white-main: white;
  --accent-color: rgb(60, 60, 195);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
}

nav {
  background-color: var(--accent-color);
  color: var(--white-main);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 40px;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.icons-logo {
  height: 3rem;
}

.icons-left {
  height: 1.5rem;
}

.icons-logo path,
.icons-left path {
  fill: white;
}

nav .primary ul,
nav .secondary ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primary ul li a,
.secondary ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 20px 40px;
}

.search-container,
.welcome-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#search {
  background-color: var(--grey-light);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
}

button,
.search-container label {
  cursor: pointer;
}

.icons-top {
  height: 1.5rem;
}

.icons-top path {
  fill: black;
}

#search,
.welcome {
  flex: 1 0 auto;
}

.avatar {
  height: 3rem;
  border-radius: 50%;
}

.welcome-container .avatar {
  height: 5rem;
  ;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn-header {
  background-color: var(--accent-color);
  color: var(--white-main);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
}

.main {
  background-color: var(--grey-light);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  padding: 15px;
  gap: 20px;
}

.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  display: grid;
  grid-template-rows: 1fr auto;
}

.card,
.card-announce,
.card-trending {
  background-color: white;
  padding: 15px;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding-top: 10px;
}

.icons-card {
  height: 1.5rem;
}

.announce,
.trending {
  display: flex;
  flex-direction: column;
}

.card-announce,
.card-trending {
  list-style-type: none;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trender .avatar {
  height: 3rem;
}

.trender {
  display: flex;
  gap: 10px;
  align-items: center;
}

.leftbar {
  background-color: var(--grey-light);
  display: grid;
  grid-template-rows: auto auto;
}